.container {
  width: 100%;
  height: calc(100dvh - 72px);
}

.container :global(.rt-ScrollAreaViewport) {
  padding: 60px 24px 24px;
}

.pageFrame {
  width: 100%;
  min-height: 100%;
}

.card {
  max-width: 720px;
  padding: 24px;
  margin: 0 auto;
  overflow: visible;
}

.content img {
  width: clamp(160px, 50%, 320px);
  aspect-ratio: 1 / 1;
}

@media screen and (max-width: 480px) {
  .container :global(.rt-ScrollAreaViewport) {
    padding: 48px 12px 12px;
  }
}
